@CHARSET "UTF-8";
#menu {
	width: 800px;
	height: 40px;
	border: 2px solid #eee;
}
#menu ul li {
	list-style: none;
	float: left; 
	color: #087DC6;  
	width:50px;
}
#menu ul {
	margin-top: 0px;
}
