/* Font setting */
body, input, select {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 12px;
}

body {
  padding: 0 25px;
  margin: 29px 0;
  _margin: 28px 0;
  text-align: center;
  background-color: #FFFFFF;
  background: url('../images/wsbg.jpg');
}

/* Content frame */
#shadow {
  margin: 0 auto 0 auto;
  padding: 9px 0 0;
  text-align: left;
  width: 716px;
  background: #fff;
}

#content {
  border: 1px solid #ccd7e0;
  margin: 0 8px;
  padding: 0 20px 20px;
  _height: 1em;
}

/* Location */
#location {
  padding: 20px 0 16px 0;
}

#location h1 {
  color: #ffc76f;
  font-size: 21px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

#location h1 a {
  color: #718ea5;
  font-size: 18px;
  text-decoration: none;
}

#location h1 a:hover {
  color: #93b2c8;
}

/* Front page image */
#front {
  background: url('../images/mainpic.jpg') left bottom;
  height: 16em;
  max-height: 262px;
  margin: 20px 0;
}

#frontProd {
  background: url('../images/mainpic_prod.jpg') left bottom;
  height: 16em;
  max-height: 262px;
  margin: 20px 0;
}

#frontCn {
  background: url('../images/mainpic_s.jpg') left bottom;
  height: 16em;
  max-height: 262px;
  margin: 20px 0;
}

/* Main & Extra */
#main {
  position: relative;
  float: left;
  width: 440px;
  margin: 20px 0;
}

#extra {
  position: relative;
  float: right;
  width: 200px;
  margin: 20px 0;
}

#main h3, #extra h3 {
  font-size: 1em;
  font-weight: normal;
  color: #718ea5;
  margin: 0;
}

/* Files content */
#files {
  position: relative;
  float: left;
  margin: 20px 0;
  width: 100%;
}

#files h3 {
  font-size: 1em;
  font-weight: normal;
  color: #718ea5;
  margin: 0;
}

/* Copyright notice */
#copy {
  margin-top: 5px;
}

#copy p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

#copy a {
  color: #718ea5;
  text-decoration: none;
}

#copy a:hover {
  color: #8cc0e5;
  text-decoration: underline;
}

/* Line */
.line {
  background: #718ea5 repeat-x;
  height: 1px;
  font-size: 0;
  clear: both;
  margin: 0;
  padding: 0;
}

/* Item box */
.item {
  position: relative;
  background: #fafbfc left bottom repeat-x;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
}

.item a {
  color: #93b2c8;
}

.item a:hover {
  color: #8cc0e5;
  background: #fff;
}

.item h4 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  color: #222;
}

.item p {
  font-size: 0.9em;
  text-align: justify;
  margin: 0 0 10px 0;
}

/* Lists */
.nav {
  padding: 0;
  margin: 0 0 0 10px;
  list-style: outside url('../images/arrow2.gif');
}

.nav li {
  padding: 0;
  margin: 0;
}

.arrow {
  padding: 0;
  margin: 0 0 0 18px;
  list-style: outside url('../images/arrow2.gif');
}

.right {
  position: relative;
  float: right;
}

.files {
  width: 100%;
}

.files th {
  text-align: left;
}

.files td {
  border-top: 1px solid #fff;
}

.files img {
  border: 0;
  margin-right: 2px;
  vertical-align: text-bottom;
}

h4.func {
  font-size: 1.1em;
  font-weight: bold;
  color: #666;
  background: #ecf0f3;
}

code, pre {
  padding: 1px;
  border: 1px solid #dcddde;
  background-color: #eeeff0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.buttonStyle {
  background-image: url('../images/buttonStyle.gif');
  width: 120px;
  height: 40px;
}

.buttonStyle:hover {
  background-image: url('../images/buttonStyleHover.gif');
  color: white;
}

table.row {
  width: 100%;
  font-size: 14px;
  border: 0px solid;
  margin: 5px 0px 5px;
  padding: 3px;
}